In [1]:
import pandas as pd
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt

In [2]:
def consulta(codigo_bcb):
  url = 'https://api.bcb.gov.br/dados/serie/bcdata.sgs.{}/dados?formato=json'.format(codigo_bcb)
  df = pd.read_json(url)
  df['data'] = pd.to_datetime(df['data'], dayfirst = True)
  df.set_index('data', inplace = True)
  return df

In [3]:
cesta = consulta(7483)
cesta

             valor
data
1998-01-01  102.95
1998-02-01  101.72
1998-03-01  103.53
1998-04-01  109.07
1998-05-01  104.60
...            ...
2022-06-01  701.26
2022-07-01  688.78
2022-08-01  685.69
2022-09-01  678.73
2022-10-01  696.31

[298 rows x 1 columns]

In [4]:
cesta.to_csv('cesta_basica_cwb.csv')